header{
    color: rgb(238, 25, 25);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    header > h1{
        text-underline-offset: ;
    }
}
nav{
    color: rgb(15, 18, 182);
}

*{
   margin-left: 15px;
    margin-top: 10px; 
    background-color: aliceblue;
}
div{
    padding: 8px;
}
header div , nav{ 
    padding: 0px;
}

input[type="button"]{
    background: rgb(243, 191, 3);
    color: rgb(244, 6, 244);
    font-size: 20px;
    padding: 8px 13px;
   border: none;
   cursor: pointer;
   border-radius: 8px;
}
input[type="button"]:hover{
    background: rgb(209, 245, 5);
   
}
