body{
    background-color: rgb(197, 239, 244);
    color: rgb(178, 6, 6);
}
a{
    background-color: blanchedalmond;
}
td{
    border: 2px solid black;
}

.red{
    background-color: blanchedalmond;
    color: rgb(3, 3, 3);
}
#secdiv{
    background-color: black;
}
